<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jufuns.saas.dao.SysModuleMapper">
	<!-- <resultMap id="BaseResultMap" type="cn.jufuns.saas.entity.SysModule">
		<id column="module_code" property="moduleCode" jdbcType="VARCHAR" />
		<result column="module_name" property="moduleName" jdbcType="VARCHAR" />
		<result column="module_orrder" property="moduleOrderv" jdbcType="VARCHAR" />
		
		<result column="module_type" property="moduleType" jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
		<result column="module_desc" property="moduleDesc" jdbcType="VARCHAR" />
		<result column="module_uri" property="moduleUri" jdbcType="VARCHAR" />
		
		<result column="module_view" property="moduleView" jdbcType="INTEGER" />
		
		<result column="module_odr" property="moduleOdr" jdbcType="VARCHAR" />
		<result column="ico_path" property="icoPath" jdbcType="VARCHAR" />
		<result column="imgname" property="imgname" jdbcType="VARCHAR" />
		
		<result column="ispad" property="ispad" jdbcType="VARCHAR" />
		<result column="second_show" property="secondShow" jdbcType="VARCHAR" />
		<result column="usual_show" property="usualShow" jdbcType="VARCHAR" />
	</resultMap>
	

	
	<sql id="where_all">
		<where>
			<if test="content != null and content !='' ">
				and (
				LOWER(module_name) like
				CONCAT("%",#{content,jdbcType=VARCHAR},"%") or
				LOWER(module_code)
				like
				CONCAT("%",#{content,jdbcType=VARCHAR},"%")
				)
			</if>
		</where>
	</sql>
	<sql id="limit_sql">
		<if test="page_sql != null and page_sql != ''">
			${page_sql}
		</if>
	</sql>
	<select id="findCount" resultType="java.lang.Integer">
		select count(id) from u_role
		<include refid="where_all" />
	</select>
 -->
	<select id="findSysModulePage" resultType="cn.jufuns.saas.entity.SysModule">
		select * from sys_module
	</select>
	

 

</mapper>