<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="false" >
		
	 <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${jedis.maxIdle}"/><!-- 最大闲置 -->
        <property name="minIdle" value="${jedis.minIdle}"/><!-- 最小闲置 -->
        <property name="testOnBorrow" value="${jedis.testOnBorrow}"/><!-- 可以获取 -->
    </bean>
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<!-- 端口，默认6379 -->
	    <constructor-arg index="2" value="${jedis.port}"  name="port" type="int"/>
	    <constructor-arg index="3" value="${jedis.timeout}"  name="timeout" type="int"/>
	    <constructor-arg index="1" value="${jedis.host}" name="host" type="java.lang.String"/>
	    <constructor-arg index="4" value="${jedis.password}" name="password" type="java.lang.String"/>
	</bean>
	
	
</beans>