@CHARSET "UTF-8";

/*多选确定取消按钮*/
	.saasBtn01{background:#ff5400;color:white;}
	.saasBtn02{background:white;}
	.saasBtn03{background:white;}
	.saasBtn01,.saasBtn02,.saasBtn03{border: 1px solid #dfdfdf;border-radius: 5px;height: 25px;padding: 0px 5px;font-family: 'Microsoft YaHei';font-size: 14px;}
	
/* 多选样式start */
.saasSelect01{display:inline-block;border:1px solid #dfdfdf;border-radius:5px;height:30px;width:200px;background:white;position: relative;font-size:14px;}
.moreSelect{display: block;margin-left: 38px;width: 173px;float:left;}
.showMain-row{overflow: hidden;width:100%;height:30px;line-height:30px;cursor:pointer;}
.leftText{height: 30px;float: left;width:calc(100% - 42px);border-right:1px solid #dfdfdf;padding-left:10px;}
.beLong{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.rightIcon{float: left;width:30px;text-align: center;}
.selectMain-row{background:white;z-index:999999;height:157px;width:100%;border:1px solid #dfdfdf;
overflow:hidden;position: absolute;top:31px;left:-1px;display: none;border-top:0px; 
border-bottom-left-radius:5px;border-bottom-right-radius: 5px;}
.saasSelect01-title{overflow: hidden;padding:0px 10px;border-bottom:1px solid #dfdfdf;}
.saasSelect01-titleLeft{float: left;height:40px;line-height:40px;}
.saasSelect01-titleLeft>*{margin-right:10px;}
.saasSelect01-titleLeft input{position: relative;top:2px;}
.saasSelect01-titleRight{float: right;margin-top:6px;}
.saasSelect01pBox{padding:0px 5px 0px 5px;height:35px;line-height:35px;}
.saasSelect01pBox input,.saasSelect01sBox input{margin-right:5px;position: relative;top: 2px;}
.saasSelect01sBox{padding:0px 10px 0px 25px;height:35px;line-height:35px;}
.saasSelect01-body .son{display:none;}
.saasSelect01-body{height: calc(100% - 51px);overflow-y: auto;}.saasSelect01-titleRight>*{margin-left:6px;}
/* 多选样式end */


/* 弹出框遮罩start  */
/*灰色遮罩层*/
.fade{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
   	display: none;
}
/*弹出层*/ 
.succ-pop{
    width: 420px;
    height: 200px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 999;
    border-radius: 5px;
    display: none;
}   
