<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 开启延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 对于包含延迟加载属性的对象，延迟加载的属性按需加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<!--开启数据库字段名到映射类的驼峰转化 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 设置日志实现 -->
		<setting name="logImpl" value="LOG4J" />
		<setting name="useGeneratedKeys" value="true" />
	</settings>

	<plugins>
		<plugin interceptor="cn.jufuns.core.mybatis.paginable.PageInterceptor" />
	</plugins>
</configuration>  